@font-face {
    font-family: "阿里巴巴普惠体 2.0 35 Thin";
    font-weight: 250;
    src: url("./WeVuoHXXLzZ6MvqSnUluZ.woff2") format("woff2"),
        url("./WeVuoHXXLzZ6MvqSnUluZ.woff") format("woff");
    font-display: swap;
}